body{
    background-color: #FBEAEB;
    color:#2f3c7e;
}
#wrapper{
    max-width: 900px;
    margin: auto;
}
.midSec, .titleSection{
    margin: auto;
    text-align: center;
}

#calendar{
    margin: auto;
    max-width: fit-content ;
    padding:0;
    text-align: center;
}

.plannerSection{
 margin:auto;
    width: 100%;
}

.plannerRows{
    border-style: solid;  
    border-radius: 10px;
    margin-bottom: 10px;
}

.timeSec{
    text-align: center;
    padding: 0;
    color: #2f3c7e;
}

.inputSec{
    margin: 0;
}

.midButtons{
    background-color: #FBEAEB;
    min-width: max-content;
    border-radius: 5px;
    border-style: solid;
    border-color: #2f3c7e;
    border-width: 2px;
    padding: 0;
}

.saveButton{
    background-color: #FBEAEB;
    border:none;
    font-weight: bold;
    color: #2f3c7e;
    border-radius: 5px;
    padding: 0;
}

#clear{
    border-radius: 10px;
    border-color: #2f3c7e;
    background-color:#FBEAEB ;
    border-style: solid;
    border-width: 2px;
    color : rgb(141, 10, 10);
    width: fit-content;
    text-align: center;
    margin: auto;
    
}
.tbrow, .tbcol, .emptyCol{
    border-style: solid;
    width: 200px;
    text-align: center;

}

.tbhead{
    border-style: solid;
    text-align: center;
    width: 200px;
}

.highlight{
    background-color: rgb(193, 221, 248);
}

.past{
    background-color: lightgrey;
    color:#2f3c7e;
}

.future{
    background-color: #FBEAEB;
    color: #2f3c7e;
}

.now{
    background-color: yellow;
    color: black;
}