.plannerRows{
    border-style: solid;   
}

.timeSec{
    border-right-style: solid;

    margin: 0;
    padding: 0;
}

.inputSec{
    background-color: yellow;
    margin: 0;
    padding: 0;
}

.saveButton{
    height:100%;

}

.tbrow, .tbcol, .emptyCol{
    border-style: solid;
    width: 200px;
    height: 150px;
    text-align: center;
}

.tbhead{
    border-style: solid;
    text-align: center;
}

.highlight{
    background-color: aqua;
}

.past{
    background-color: grey;
}

.future{
    background-color: aqua;
}

.now{
    background-color: yellow;
}